<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Announcement</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href='/stylesheets/post.css'>
</head>
    <body>
        <%- include navbarAdmin %>
        <div class="box-title">
            <p>โพสต์ประกาศ</p>
        </div>
        <div class="box-detail">
        <form>
            <label>ชื่อ <input type="text" placeholder="กรุณาใส่ชื่อเรื่อง" id="tit" name="title"><br><br>
                ผู้เขียน <input type="text" placeholder="กรุณาใส่ชื่อผู้เขียน" id="author" name="author"><br><br>
                <textarea cols="91" rows="5" placeholder="กรุณาใส่เนื้อหา" name = "content" id="content"></textarea>
            </label>
            <button type="submit" id="bt-post">โพสต์</button>
        </form>
        </div>
        <div class="box-line"></div>
    </body>
</html>