<!DOCTYPE html>
<html lang="en">
<head>
    <title>Floor1</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/Room.css">
</head>
    <body>
      <%- include navbarAdmin %>
      <table>
        <td>
          <a id="bt1" href="/notified"><button>101</button></a>
          <a id="bt1" href="/notified"><button>102</button></a>
          <a id="bt1" href="/notified"><button>103</button></a>
          <a id="bt1" href="/notified"><button>104</button></a>
          <a id="bt1" href="/notified"><button>105</button></a>
          <a id="bt1" href="/notified"><button>106</button></a>
          <a id="bt1" href="/notified"><button>107</button></a>
          <a id="bt1" href="/notified"><button>108</button></a>
          <a id="bt1" href="/notified"><button>109</button></a>
          <a id="bt1" href="/notified"><button>110</button></a>
          <a id="bt1" href="/notified"><button>111</button></a>
          <a id="bt1" href="/notified"><button>112</button></a>
          <a id="bt1" href="/notified"><button>113</button></a>
          <a id="bt1" href="/notified"><button>114</button></a>
          <a id="bt1" href="/notified"><button>115</button></a>
          <a id="bt1" href="/notified"><button>116</button></a>
          <a id="bt1" href="/notified"><button>117</button></a>
          <a id="bt1" href="/notified"><button>118</button></a>
          <a id="bt1" href="/notified"><button>119</button></a>
          <a id="bt1" href="/notified"><button>120</button></a>
        </td>
    </table>
    </body>
</html>