<!DOCTYPE html>
<html lang="en">
<head>
    <title>Floor1</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/Room.css">
</head>
    <body>
        <%- include navbarSTD %>
        <table>
            <td>
              <a id="bt1" href=""><button>101</button></a>
              <a id="bt1" href=""><button>102</button></a>
              <a id="bt1" href=""><button>103</button></a>
              <a id="bt1" href=""><button>104</button></a>
              <a id="bt1" href=""><button>105</button></a>
              <a id="bt1" href=""><button>106</button></a>
              <a id="bt1" href=""><button>107</button></a>
              <a id="bt1" href=""><button>108</button></a>
              <a id="bt1" href=""><button>109</button></a>
              <a id="bt1" href=""><button>110</button></a>
              <a id="bt1" href=""><button>111</button></a>
              <a id="bt1" href=""><button>112</button></a>
              <a id="bt1" href=""><button>113</button></a>
              <a id="bt1" href=""><button>114</button></a>
              <a id="bt1" href=""><button>115</button></a>
              <a id="bt1" href=""><button>116</button></a>
              <a id="bt1" href=""><button>117</button></a>
              <a id="bt1" href=""><button>118</button></a>
              <a id="bt1" href=""><button>119</button></a>
              <a id="bt1" href=""><button>120</button></a>
            </td>
        </table>
    </body>
</html>