<!DOCTYPE html>
<html lang="en">
<head>
    <title>Floor2</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/Room.css">
</head>
    <body>
        <%- include navbarAdmin %>
        <table>
            <td>
              <a id="bt1" href="/notified"><button>201</button></a>
              <a id="bt1" href="/notified"><button>202</button></a>
              <a id="bt1" href="/notified"><button>203</button></a>
              <a id="bt1" href="/notified"><button>204</button></a>
              <a id="bt1" href="/notified"><button>205</button></a>
              <a id="bt1" href="/notified"><button>206</button></a>
              <a id="bt1" href="/notified"><button>207</button></a>
              <a id="bt1" href="/notified"><button>208</button></a>
              <a id="bt1" href="/notified"><button>209</button></a>
              <a id="bt1" href="/notified"><button>210</button></a>
              <a id="bt1" href="/notified"><button>211</button></a>
              <a id="bt1" href="/notified"><button>212</button></a>
              <a id="bt1" href="/notified"><button>213</button></a>
              <a id="bt1" href="/notified"><button>214</button></a>
              <a id="bt1" href="/notified"><button>215</button></a>
              <a id="bt1" href="/notified"><button>216</button></a>
              <a id="bt1" href="/notified"><button>217</button></a>
              <a id="bt1" href="/notified"><button>218</button></a>
              <a id="bt1" href="/notified"><button>219</button></a>
              <a id="bt1" href="/notified"><button>220</button></a>
            </td>
        </table>
    </body>
</html>