<!DOCTYPE html>
<html lang="en">
<head>
    <title>Floor2</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/Room.css">
</head>
    <body>
        <%- include navbarStd %>
        <table>
            <td>
              <a id="bt1" href=""><button>201</button></a>
              <a id="bt1" href=""><button>202</button></a>
              <a id="bt1" href=""><button>203</button></a>
              <a id="bt1" href=""><button>204</button></a>
              <a id="bt1" href=""><button>205</button></a>
              <a id="bt1" href=""><button>206</button></a>
              <a id="bt1" href=""><button>207</button></a>
              <a id="bt1" href=""><button>208</button></a>
              <a id="bt1" href=""><button>209</button></a>
              <a id="bt1" href=""><button>210</button></a>
              <a id="bt1" href=""><button>211</button></a>
              <a id="bt1" href=""><button>212</button></a>
              <a id="bt1" href=""><button>213</button></a>
              <a id="bt1" href=""><button>214</button></a>
              <a id="bt1" href=""><button>215</button></a>
              <a id="bt1" href=""><button>216</button></a>
              <a id="bt1" href=""><button>217</button></a>
              <a id="bt1" href=""><button>218</button></a>
              <a id="bt1" href=""><button>219</button></a>
              <a id="bt1" href=""><button>220</button></a>
            </td>
        </table> 
    </body>
</html>