<!DOCTYPE html>
<html lang="en">
<head>
    <title>Floor3</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/Room.css">
</head>
    <body>
        <%- include navbarAdmin %>
        <table>
            <td>
              <a id="bt1" href="/notified"><button>301</button></a>
              <a id="bt1" href="/notified"><button>302</button></a>
              <a id="bt1" href="/notified"><button>303</button></a>
              <a id="bt1" href="/notified"><button>304</button></a>
              <a id="bt1" href="/notified"><button>305</button></a>
              <a id="bt1" href="/notified"><button>306</button></a>
              <a id="bt1" href="/notified"><button>307</button></a>
              <a id="bt1" href="/notified"><button>308</button></a>
              <a id="bt1" href="/notified"><button>309</button></a>
              <a id="bt1" href="/notified"><button>310</button></a>
              <a id="bt1" href="/notified"><button>311</button></a>
              <a id="bt1" href="/notified"><button>312</button></a>
              <a id="bt1" href="/notified"><button>313</button></a>
              <a id="bt1" href="/notified"><button>314</button></a>
              <a id="bt1" href="/notified"><button>315</button></a>
              <a id="bt1" href="/notified"><button>316</button></a>
              <a id="bt1" href="/notified"><button>317</button></a>
              <a id="bt1" href="/notified"><button>318</button></a>
              <a id="bt1" href="/notified"><button>319</button></a>
              <a id="bt1" href="/notified"><button>320</button></a>
            </td>
        </table>
    </body>
</html>