<!DOCTYPE html>
<html lang="en">
<head>
    <title>Floor4</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/Room.css">
</head>
    <body>
        <%- include navbarAdmin %>
        <table>
            <td>
              <a id="bt1" href="/notified"><button>401</button></a>
              <a id="bt1" href="/notified"><button>402</button></a>
              <a id="bt1" href="/notified"><button>403</button></a>
              <a id="bt1" href="/notified"><button>404</button></a>
              <a id="bt1" href="/notified"><button>405</button></a>
              <a id="bt1" href="/notified"><button>406</button></a>
              <a id="bt1" href="/notified"><button>407</button></a>
              <a id="bt1" href="/notified"><button>408</button></a>
              <a id="bt1" href="/notified"><button>409</button></a>
              <a id="bt1" href="/notified"><button>410</button></a>
              <a id="bt1" href="/notified"><button>411</button></a>
              <a id="bt1" href="/notified"><button>412</button></a>
              <a id="bt1" href="/notified"><button>413</button></a>
              <a id="bt1" href="/notified"><button>414</button></a>
              <a id="bt1" href="/notified"><button>415</button></a>
              <a id="bt1" href="/notified"><button>416</button></a>
              <a id="bt1" href="/notified"><button>417</button></a>
              <a id="bt1" href="/notified"><button>418</button></a>
              <a id="bt1" href="/notified"><button>419</button></a>
              <a id="bt1" href="/notified"><button>420</button></a>
            </td>
        </table>
    </body>
</html>