<!DOCTYPE html>
<html lang="en">
<head>
    <title>Floo5</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/Room.css">
</head>
    <body>
        <%- include navbarAdmin %>
        <table>
            <td>
              <a id="bt1" href="/notified"><button>501</button></a>
              <a id="bt1" href="/notified"><button>502</button></a>
              <a id="bt1" href="/notified"><button>503</button></a>
              <a id="bt1" href="/notified"><button>504</button></a>
              <a id="bt1" href="/notified"><button>505</button></a>
              <a id="bt1" href="/notified"><button>506</button></a>
              <a id="bt1" href="/notified"><button>507</button></a>
              <a id="bt1" href="/notified"><button>508</button></a>
              <a id="bt1" href="/notified"><button>509</button></a>
              <a id="bt1" href="/notified"><button>510</button></a>
              <a id="bt1" href="/notified"><button>511</button></a>
              <a id="bt1" href="/notified"><button>512</button></a>
              <a id="bt1" href="/notified"><button>513</button></a>
              <a id="bt1" href="/notified"><button>514</button></a>
              <a id="bt1" href="/notified"><button>515</button></a>
              <a id="bt1" href="/notified"><button>516</button></a>
              <a id="bt1" href="/notified"><button>517</button></a>
              <a id="bt1" href="/notified"><button>518</button></a>
              <a id="bt1" href="/notified"><button>519</button></a>
              <a id="bt1" href="/notified"><button>520</button></a>
            </td>
        </table>
    </body>
</html>