<!DOCTYPE html>
<html lang="en">
<head>
    <title>Floor5</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/Room.css">
</head>
    <body>
        <%- include navbarStd %>
        <table>
            <td>
              <a id="bt1" href=""><button>501</button></a>
              <a id="bt1" href=""><button>502</button></a>
              <a id="bt1" href=""><button>503</button></a>
              <a id="bt1" href=""><button>504</button></a>
              <a id="bt1" href=""><button>505</button></a>
              <a id="bt1" href=""><button>506</button></a>
              <a id="bt1" href=""><button>507</button></a>
              <a id="bt1" href=""><button>508</button></a>
              <a id="bt1" href=""><button>509</button></a>
              <a id="bt1" href=""><button>510</button></a>
              <a id="bt1" href=""><button>511</button></a>
              <a id="bt1" href=""><button>512</button></a>
              <a id="bt1" href=""><button>513</button></a>
              <a id="bt1" href=""><button>514</button></a>
              <a id="bt1" href=""><button>515</button></a>
              <a id="bt1" href=""><button>516</button></a>
              <a id="bt1" href=""><button>517</button></a>
              <a id="bt1" href=""><button>518</button></a>
              <a id="bt1" href=""><button>519</button></a>
              <a id="bt1" href=""><button>520</button></a>
            </td>
        </table>
    </body>
</html>