<!DOCTYPE html>
<html lang="en">
<head>
    <title>Floor5</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/Room.css">
</head>
    <body>
        <%- include navbarStd %>
        <table>
            <td>
              <a id="bt1" href="/report"><button>501</button></a>
              <a id="bt1" href="/report"><button>502</button></a>
              <a id="bt1" href="/report"><button>503</button></a>
              <a id="bt1" href="/report"><button>504</button></a>
              <a id="bt1" href="/report"><button>505</button></a>
              <a id="bt1" href="/report"><button>506</button></a>
              <a id="bt1" href="/report"><button>507</button></a>
              <a id="bt1" href="/report"><button>508</button></a>
              <a id="bt1" href="/report"><button>509</button></a>
              <a id="bt1" href="/report"><button>510</button></a>
              <a id="bt1" href="/report"><button>511</button></a>
              <a id="bt1" href="/report"><button>512</button></a>
              <a id="bt1" href="/report"><button>513</button></a>
              <a id="bt1" href="/report"><button>514</button></a>
              <a id="bt1" href="/report"><button>515</button></a>
              <a id="bt1" href="/report"><button>516</button></a>
              <a id="bt1" href="/report"><button>517</button></a>
              <a id="bt1" href="/report"><button>518</button></a>
              <a id="bt1" href="/report"><button>519</button></a>
              <a id="bt1" href="/report"><button>520</button></a>
            </td>
        </table>
    </body>
</html>