<!DOCTYPE html>
<html lang="en">
<head>
    <title>Floor1</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/notified.css">
</head>
    <body>
      <%- include navbarNotified %>
      <div class="box-out">

      </div>
    </body>
</html>