<!DOCTYPE html>
<html lang="en">
<head>
    <title>Floor1</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/notified.css">
</head>
    <body>
      <%- include navbarNotified %>
      <div class="box-data">
        <p id="stdid">รหัสนักศึกษา : </p>
        <p id="fullname">ชื่อ-นามสกุล : </p>
        <p id="num-phone">เบอร์โทร : </p>
        <p id="num-room">เลขห้อง : </p>
        <p id="detail">รายละเอียด</p>
        <div class="box-detail"></div>
      </div>
      <button id="finish">ดำเนินการเสร็จสิ้น</button>
      <button id="problem">รับทราบปัญหา</button>
      <a href="/roomAdmin" role="button" id="back" >BACK</a>
    </body>
</html>