<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin</title>
    <meta charset="UTF-8">
</head>
    <body>
      <!--<%- include navbarAdmin %>-->
      <%= data[0].problem %>
    </body>
</html>