header{
    width: 100%;
    height: 97vh;
}

.header img{
    width: 120px;
    height: 120px;
    position: absolute;
    left: 4%;
    top: 3%;
    box-shadow:  0.2em 0.2em 0.3em black;
    border-radius: 50%;
}

.header h1{
    color: white;
    font-size: 38px;
    font-family: "oppins", sans-serif;
    position: absolute;
    left: 13%;
    top: 5%;
    text-shadow: 0.2em 0.2em 0.3em black;
    font-weight: bold;
}

.header h2{
    color: white;
    font-size: 18px;
    font-family: "oppins", sans-serif;
    position: absolute;
    left: 16.2%;
    top: 10%;
    text-shadow: 0.2em 0.2em 0.3em black;
    font-weight: bold;
}

.bg{
    width: 29%;
    height: 67vh;
    background-color: #000;
    position: absolute;
    top: 20%;
    left: 35%;
    border-radius: 20px;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

main h1{
    font-size: 36px;
    font-family: "Broadway";
    position: absolute;
    left: 45%;
    top: 32%;
    color: white;
}

main h2{
    font-size: 24px;
    font-family: "JasmineUPC";
    text-align: center;
    position: absolute;
    left: 39.5%;
    top: 40%;
    color: white;
}

form{
    position: absolute;
    left: 42%;
    top: 55%;
}

form input{
    padding:  5px 10px;
    width: 200px;
    font-size: 24px;
    border-radius: 8px;
    border: none;
}

#user{
    position: relative;
    font-family: "JasmineUPC";
    left: 14px;
    top: -60px;
}

#pwd{
    position: relative;
    top: 10px;
    left: -193px;
    font-family: "JasmineUPC";
}
#login{
    position: relative;
    left: -65.5%;
    top: 90px;
    border-radius: 60px;
    padding: 15px 10px;
    background: orangered;
    border: 0px;
    font-family: "Bradley Hand ITC";
    font-weight: bold;
    font-size: 18px;
    width: 200px;
}

form a{
    color: #000;
    position: absolute;
    top: -600%;
    left: 95%;
    width: 100px;
    font-size: 17px;
    font-family: "oppins", sans-serif;
    background-color: orangered;
    border-radius: 5px;
    border: none;
    padding: 12px 18px;
    box-shadow: 0.1em 0.1em 0.2em black;
}

.slide{
    width: 99%;
    height: 98vh;
    margin-top: 10px;
    box-shadow: 0px 0px 20px 5px rgb(#000);
    overflow: hidden;
    position: absolute;
    top: -1%;
    left: 0.5%;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.slide figure img{
    width: 20%;
    height: 98vh;
    float: left;
}

.slide figure{
    position: relative;
    width: 500%;
    margin: 0px;
    left: 0px;
    animation: kmutnb 20s infinite linear;
}

@keyframes kmutnb{
    10%{left: 0%}
    20%{left: 0%}
    30%{left: -100%}
    40%{left: -100%}
    50%{left: -200%}
    60%{left: -200%}
    70%{left: -300%}
    80%{left: -300%}
    90%{left: -400%}
    100%{left: -400%}
}