body{
    align-self: center;
}

table {
  font-family: arial, sans-serif;
  background-color: #000000;
  border: 5px solid #000000 ;
  color: white;
  width: 100%;
  height: 100vh;
  padding-left:5cm ;
}
  
button{
  width: 10%;
  height: 10vh;
  color: white;
  font-family: "oppins", sans-serif;
  background-color: blue ;
  }

#bt1{
  display: flexbox;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  margin: 10px 50px;
  padding-left: 1cm;
}
  
